#poe {
    color:red;
}

.cold {
    color: blueviolet;
    font-weight:500;
}

.warm {
    color:purple;
    font-weight:500;
}

footer{
    padding:20px;
    color: #ffffff;
    background-color: brown;
    text-align: center;
}
